.btn-primary{
    background: var(--primary-color);
    color: var(--primary-color-shadow);
    border-color: var(--primary-color-shade);

}

.btn-primary:hover{
    background: var(--primary-color-shade);
    animation: normal;
    -webkit-animation: normal;
    cursor: pointer;
}

.btn{
    width: 100%;
    padding: 2%;
    height: 35px;
    border-style: solid;
    border-radius: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


.btn:disabled{
    background-color: var(--primary-color-disable);
    border: var(--primary-color-disable);
}
