.table-responsive{
    overflow-x: auto;
}

.table-responsive nav{
    margin-bottom: 2%;
}

.position-relative{
    position: relative;
}
.header-table{
    columns: 150px 3;
    column-fill: auto;
    column-gap: 10px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.search-box input{
    width: 50vh;
}


.form-group{
    height:50%;
    width: 100px;
}

.table{
    border-collapse: collapse;
    border: 3px;
    width: 100%;
    background: #f0f0f0;

}
.table-bordered th{
    height: 45px;
}
.table-bordered td{
    padding-left: 1%;
}
.table-bordered ,tr ,td, th{
    border:2%;
    border-style: solid;
    border-color: #e4e4e4;
    background: white;
    height: 45px;

}
.table-bordered td img{
    display: flex;
    margin: 0 auto;
    padding-left: 0px;


}


.actions-table{
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 5%;
    display: flex;
    border: none;
}

.actions-table a{
    display: flex;
    align-items: flex-start;
}

.pagination{
    display: flex;
    justify-content: end;
    
}
.pagination .page-item{
    display: inline;
    margin: 0.2%;
    padding: 1%;
    color: var(--primary-color);
    background-color: white;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.pagination .active{
    background: var(--primary-color);
    color: white;
}
.pagination .page-item button{
    border: none;
    background-color: white;
    border-style: none;
    border-color: white;
    color: var(--primary-color);
}


.pagination .active button {
    background-color: var(--primary-color);

    color: white;
}

